body{
  background-color: #fafdff;
}
h2{
  font-size: 30px; 
  margin-top:25px; 
  margin-bottom:25px; 
  border:4px solid; 
  border-radius: 5px; 
  padding: 5px; 
  border-color: #21217a;
  background-color: white;
}
h3{
  font-size:21px; 
  font-family:sans-serif
}
p{font-family:sans-serif;
  font-size:15.5px;
}
ol > li::marker {
  font-weight: bold;
  font-size: 1.2em;
  font-family: sans-serif;
}
